body{
    background-color: #f9f9f9;
}

p{
    style: "font-family: Arial, Helvetica, sans-serif"
}

div.banner{
    margin: 0 auto;
    text-align: center;
}

img.icon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

a{
    color: #428bca;


    text-decoration: none;
}

div.category a{
    font-size: 20px;
    margin: auto 10px auto 10px;
    vertical-align: middle;
}

div.article_list a{
    font-size: 20px;
    margin: auto;
}

a:hover{
    color: #B31800;
    text-decoration: underline;
}

div.container{
    margin: 0 auto 40px;
    text-align: center;
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    width: 800px;
    border: 1px solid #eee;
}

div.category{
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #efefef;
}

div.article_list{
    text-align: left;
    margin-left: 40px;
    margin-bottom: 40px;
}

ul.category_title_and_date{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    list-style: outside none none;
}

span.release_time{
    color: #999;
    text-align: right;
    float: right;
    vertical-align: middle;
    margin-right: 40px;
}

div.footer{
    text-align: center;
}

div.footer p{
    font-size: 15px;
    color: #494A4D;
}

div.footer a{
    font-size: 15px;
}

div.post_text{
    text-align: left;
    margin: 40px 40px 40px 40px;
}

div.post_title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 40px 40px 40px 40px;
}
